<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <!-- NOTE: Change to sidebar -->
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </nav>
    </header>
    <hr>

    {% block content %}
        <!-- Each contents of a page injects its content here -->
    {% endblock content %}

    <hr>
    <footer>
        <p>
            <center>
                &copy; {{ now.year }} DisasterAlertBot. All Rights Reserved. 
            </center>
        </p>
    </footer>
</body>
</html>