<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}
        <!-- Each contents of a page injects its content here -->
    {% endblock content %}

    <hr>
    <footer>
        <p>
            <center>
                &copy; {{ now.year }} DisasterAlertBot. All Rights Reserved. 
            </center>
        </p>
    </footer>
</body>
</html>