{% extends "./base/base.html" %}

{% block content %}
<main>
    <div class="landing-page">
        <h1>
            <center>Welcome to DisasterAlertBot</center>
        </h1>
        <br>

        <p>
            <center>
                DisasterAlertBot is an AI-powered chatbot designed to enhance community preparedness by providing 
                real-time disaster alerts, local emergency information, and practical response guidance. 
                It integrates Retrieval-Augmented Generation (RAG) and live weather data to deliver accurate, 
                location-based disaster updates and preparedness tips.
            </center>
        </p>
        <br>

        <center>
            <a href="{{ url_for('index') }}">
                <button type="button">Start Chatting</button>
            </a>
        </center>

    </div>
</main>
{% endblock content %}